Source: webut
Section: python
Priority: optional
Maintainer: Tommi Virtanen <tv@debian.org>
Standards-Version: 3.6.2
Build-Depends-Indep: cdbs (>= 0.4.23-1.1), debhelper (>= 4.2.0), debhelper (>= 4.1.68), python (>= 2.3), python2.3-dev, python2.3-twisted-core (>= 2.2), python2.3-twisted-web (>= 0.5), python2.3-nevow (>= 0.6), python2.4-dev, python2.4-twisted-core (>= 2.2), python2.4-twisted-web (>= 0.5), python2.4-nevow (>= 0.6)

Package: python-webut
Architecture: all
Depends: ${python:Depends}
Description: Miscellaneous utilities for nevow and twisted.web{,2} programming
 A collection of utility libraries for use when programming web
 applications with nevow, twisted.web and twisted.web2.
 .
 The intent is that as the individual libraries stabilize, they can be
 moved to nevow or twisted.web2.
 .
 Current content:
  - support library for skinnable web apps
  - web app navigation library
 .
 This is a dummy package that only depends on python2.3-webut.

Package: python2.3-webut
Architecture: all
Depends: ${python:Depends}, python2.3-twisted-core (>= 2.2), python2.3-twisted-web (>= 0.5), python2.3-nevow (>= 0.6)
Description: Miscellaneous utilities for nevow and twisted.web{,2} programming
 A collection of utility libraries for use when programming web
 applications with nevow, twisted.web and twisted.web2.
 .
 The intent is that as the individual libraries stabilize, they can be
 moved to nevow or twisted.web2.
 .
 Current content:
  - support library for skinnable web apps
  - web app navigation library
 .
 This version is usable with python2.3
 .
 Homepage: http://www.inoi.fi/open/trac/webut

Package: python2.4-webut
Architecture: all
Depends: ${python:Depends}, python2.4-twisted-core (>= 2.2), python2.4-twisted-web (>= 0.5), python2.4-nevow (>= 0.6)
Description: Miscellaneous utilities for nevow and twisted.web{,2} programming
 A collection of utility libraries for use when programming web
 applications with nevow, twisted.web and twisted.web2.
 .
 The intent is that as the individual libraries stabilize, they can be
 moved to nevow or twisted.web2.
 .
 Current content:
  - support library for skinnable web apps
  - web app navigation library
 .
 This version is usable with python2.4
 .
 Homepage: http://www.inoi.fi/open/trac/webut

